.u-section-1 {
  background-image: url("images/default-image.jpg?rand=50a3");
}

.u-section-1 .u-sheet-1 {
  min-height: 563px;
}

.u-section-1 .u-slider-1 {
  min-height: 395px;
  width: 1070px;
  height: auto;
  margin: 168px auto 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-image-1 {
  background-image: url("images/home_2.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-1 .u-image-2 {
  background-image: url("images/pharm2.jpg");
  background-position: 50% 12.05%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-1 .u-image-3 {
  background-image: url("images/contact_us.jpg");
  background-position: 50% 68.51%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-1 .u-carousel-control-1 {
  width: 60px;
  height: 60px;
  background-image: none;
}

.u-section-1 .u-carousel-control-2 {
  width: 60px;
  height: 60px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-1 .u-slider-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 355px;
  }

  .u-section-1 .u-slider-1 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 266px;
  }

  .u-section-1 .u-slider-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 167px;
  }

  .u-section-1 .u-slider-1 {
    width: 340px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 190px;
}

.u-section-2 .u-group-1 {
  width: 238px;
  min-height: 49px;
  animation-duration: 1000ms;
  margin: 9px auto 0 -16px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 15px;
  padding-right: 15px;
}

.u-section-2 .u-text-1 {
  font-size: 1.125rem;
  margin: 18px 21px 0 0;
}

.u-section-2 .u-group-2 {
  width: 210px;
  min-height: 102px;
  margin: 11px auto 0 11px;
}

.u-section-2 .u-container-layout-2 {
  padding-right: 7px;
  padding-left: 7px;
}

.u-section-2 .u-image-1 {
  width: 93px;
  height: 93px;
  background-image: url("images/temp.jpg");
  background-position: 50% 50%;
  margin: 0 9px 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: -68px auto 0 0;
}

.u-section-2 .u-group-3 {
  width: 203px;
  min-height: 104px;
  margin: -100px auto 0 236px;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 3px;
  padding-right: 3px;
}

.u-section-2 .u-image-2 {
  width: 87px;
  height: 87px;
  background-image: url("images/Package.jpg");
  background-position: 50% 50%;
  margin: 8px 16px 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  margin: -65px auto 0 8px;
}

.u-section-2 .u-group-4 {
  width: 208px;
  min-height: 105px;
  margin: -105px auto 0 456px;
}

.u-section-2 .u-container-layout-4 {
  padding-right: 0;
  padding-left: 0;
}

.u-section-2 .u-image-3 {
  width: 89px;
  height: 89px;
  background-image: url("images/safeSto.jpg");
  background-position: 50% 50%;
  margin: 6px 11px 0 auto;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  margin: -55px auto 0 14px;
}

.u-section-2 .u-group-5 {
  width: 198px;
  min-height: 105px;
  margin: -105px 260px 0 auto;
}

.u-section-2 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-image-4 {
  width: 87px;
  height: 87px;
  background-image: url("images/sanitize.jpg");
  background-position: 50% 50%;
  margin: 7px 13px 0 auto;
}

.u-section-2 .u-text-5 {
  font-size: 1.125rem;
  margin: -63px 47px 0 7px;
}

.u-section-2 .u-group-6 {
  width: 228px;
  min-height: 108px;
  margin: -108px 14px 17px auto;
}

.u-section-2 .u-container-layout-6 {
  padding-left: 7px;
  padding-right: 7px;
}

.u-section-2 .u-image-5 {
  width: 92px;
  height: 92px;
  background-image: url("images/ContactDel.jpg");
  background-position: 50% 50%;
  margin: 8px 13px 0 auto;
}

.u-section-2 .u-text-6 {
  font-size: 1.125rem;
  margin: -60px auto 0 6px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-2 {
    animation-duration: 1000ms;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 0;
    padding-top: 0;
  }

  .u-section-2 .u-image-1 {
    width: 117px;
    height: 117px;
    margin-right: 11px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -75px;
  }

  .u-section-2 .u-group-3 {
    animation-duration: 1000ms;
  }

  .u-section-2 .u-group-4 {
    animation-duration: 1000ms;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 15px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-3 {
    margin-top: 17px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: -69px;
    margin-left: 28px;
  }

  .u-section-2 .u-group-5 {
    animation-duration: 1000ms;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 0;
  }

  .u-section-2 .u-group-6 {
    animation-duration: 1000ms;
  }

  .u-section-2 .u-image-5 {
    margin-top: 6px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -61px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-4 {
    margin-left: 332px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-3 {
    margin-left: 137px;
  }

  .u-section-2 .u-group-4 {
    margin-left: 132px;
  }

  .u-section-2 .u-group-5 {
    margin-right: 142px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 662px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 584px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 353px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 648px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 432px;
  }
}.u-section-4 {
  min-height: 597px;
}

.u-section-4 .u-sheet-1 {
  min-height: 682px;
}

@media (max-width: 991px) {
  .u-section-4 {
    min-height: 490px;
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 1193px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 708px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 616px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 558px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 382px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1618px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 292px;
}

.u-section-6 .u-image-1 {
  width: 189px;
  height: 189px;
  margin: 17px 70px 0 auto;
}

.u-section-6 .u-image-2 {
  width: 192px;
  height: 183px;
  margin: -190px 357px 0 auto;
}

.u-section-6 .u-image-3 {
  width: 185px;
  height: 185px;
  margin: -186px auto 0 21px;
}

.u-section-6 .u-image-4 {
  width: 185px;
  height: 181px;
  margin: -181px auto 0 305px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 2.5rem;
  margin: 21px auto 0 30px;
}

.u-section-6 .u-text-2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: -44px auto 0 305px;
}

.u-section-6 .u-text-3 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: -44px 391px 0 auto;
}

.u-section-6 .u-text-4 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: -44px 120px 0 auto;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  margin: 0 auto 0 21px;
}

.u-section-6 .u-text-6 {
  font-weight: 700;
  margin: -29px auto 0 297px;
}

.u-section-6 .u-text-7 {
  font-weight: 700;
  margin: -29px 366px 0 auto;
}

.u-section-6 .u-text-8 {
  font-weight: 700;
  margin: -29px 56px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 364px;
  }

  .u-section-6 .u-image-1 {
    width: 181px;
    height: 181px;
    animation-duration: 1000ms;
    margin-right: 26px;
  }

  .u-section-6 .u-image-2 {
    width: 193px;
    height: 182px;
    animation-duration: 1000ms;
    margin-right: 253px;
  }

  .u-section-6 .u-image-3 {
    width: 188px;
    height: 188px;
    animation-duration: 1000ms;
    margin-left: 11px;
  }

  .u-section-6 .u-image-4 {
    width: 182px;
    height: 182px;
    animation-duration: 1000ms;
    margin-left: 247px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-left: 26px;
    font-size: 2.25rem;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    font-size: 2.25rem;
    margin-left: 247px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    font-size: 2.25rem;
    margin-right: 287px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    font-size: 2.25rem;
    margin-right: 60px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-left: 246px;
  }

  .u-section-6 .u-text-7 {
    width: auto;
    margin-right: 269px;
  }

  .u-section-6 .u-text-8 {
    width: auto;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 687px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 189px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 220px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 189px;
  }

  .u-section-6 .u-text-7 {
    margin-right: 206px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-2 {
    margin-left: 142px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 165px;
  }

  .u-section-6 .u-text-6 {
    margin-left: 142px;
  }

  .u-section-6 .u-text-7 {
    margin-right: 155px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-image-2 {
    margin-right: 147px;
  }

  .u-section-6 .u-image-4 {
    margin-left: 158px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.5rem;
    margin-left: 89px;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.5rem;
    margin-right: 104px;
  }

  .u-section-6 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-6 {
    margin-left: 89px;
  }

  .u-section-6 .u-text-7 {
    margin-right: 98px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 500px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 430px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 353px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 580px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 439px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 500px;
}